// Переменные
@prim-text-color: #01090f;
@sec-text-color: #575c63;
@h2-color: #111;
@bg-yellow: #ffe650;
@bg-btn: #ed1c24;
@link: #211d70;
@bg-muted: #f3f3f3; // @import "uikit/_import.less"; // включить если нужен фреймворк

@import "components/_import.less";
@import "outlines.less"; // Шрифты
// https://onlinefontconverter.com/ - генератор шрифтов, выбрать woff, woff2
// https://nomail.com.ua/catalog - каталог шрифтов
@font-face {
  font-family: 'PNR';
  src: url("../fonts/ProximaNova-Regular.woff2") format('woff2'), url("../fonts/ProximaNova-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
// Свои стили
